{
  "colors": {
    "wrenchman": "#c98f1a",
    "emissary": "#458b00",
    "riot": "#ae250f",
    "channel": "#4848b9
  },
  "groups": {
    "AmShaegar": "wrenchman",
    "Humpelstilzche": "emissary",
    "RiotKengen": "riot"
  }
}
